<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs", { title: title }) %>
  <body>
    <%- include("partials/header.ejs", { title: title }) %>
    <main>
      <h1><%= title %></h1>
      <div>
        <% if (locals.errors && errors.length > 0) { %>
          <%-include("partials/error.ejs", { errors: errors }) %>
        <% } %>
        <% if (data && data.length > 0) { %>
        <table>
          <caption>
            Table of <%= title %>
          </caption>
          <thead>
            <tr>
              <% Object.keys(data[0]).forEach(key => { %>
              <th class="<%= key %>"><%= key %></th>
              <% }) %>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(row => { %>
            <tr>
              <% const rowId = row.id; %>
              <% Object.entries(row).forEach(([key, value]) => { %>
              <td class="<%= key %>"><%= value %></td>
              <% }) %>
              <td class="actions">
                <a href="<%= `/${link}/update/${rowId}` %>">Update</a>
                <form action="<%= `/${link}/delete/${rowId}?_method=DELETE` %>" method="POST">
                  <input type="hidden" name="_method" value="">
                  <button type="submit">Delete</button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
        <p>No data available</p>
        <% } %>
      </div>
      <a href="<%= `/${link}/create` %>">New</a>
    </main>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
